<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" 			column="tran_no" 			jdbcType="NUMERIC"/>
		<result property="paymentOption" 		column="PAYMENT_OPTION" 					jdbcType="NUMERIC" />
		<result property="receiverName" 				column="RECEIVER_NAME" 					jdbcType="CHAR" />
		<result property="receiverPhone" 			column="RECEIVER_PHONE" 		jdbcType="VARCHAR" />
		<result property="divyAddr" 				column="DEMAILADDR" 					jdbcType="VARCHAR" />
		<result property="divyRequest" 				column="DLVY_REQUEST" 					jdbcType="VARCHAR" />
		<result property="tranCode" 				column="TRAN_STATUS_CODE" 					jdbcType="VARCHAR" />
		<result property="orderDate" 				column="ORDER_DATA" 					jdbcType="DATE" />
		<result property="divyDate" 				column="DLVY_DATE" 					jdbcType="DATE" />
		<result property="purchaseProd.prodNo" 				column="PROD_NO" 					jdbcType="NUMERIC" />
		<result property="buyer.userId" 		column="BUYER_ID"		jdbcType="VARCHAR"/>
		<result property="purchaseCount" 			column="purchase_count" 			jdbcType="NUMERIC"/>
		
	</resultMap>	




	<!-- SQL : INSERT -->
	<insert 	id="addPurchase"		parameterType="purchase" >
	
	 	INSERT
		INTO transaction( tran_no , PROD_NO , BUYER_ID , PAYMENT_OPTION , RECEIVER_NAME, RECEIVER_PHONE, DEMAILADDR,DLVY_REQUEST,TRAN_STATUS_CODE,DLVY_DATE,ORDER_DATA,purchase_count) 
		VALUES	 (	seq_transaction_tran_no.nextval , #{purchaseProd.prodNo},#{buyer.userId}, #{paymentOption} , #{receiverName} , #{receiverPhone} , #{divyAddr} , #{divyRequest},
							#{tranCode},#{divyDate} ,SYSDATE,#{purchaseCount})
	 </insert>
	 
	  <!-- SQL : SELECT ONE -->
	 <select 	id="getPurchase"	parameterType="int"	resultMap="purchaseSelectMap">
		SELECT
		* 		
		FROM transaction
		WHERE tran_no= #{tranNo}
	 </select>
	 
	 	 <!-- SQL : UPDATE -->
	 <update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		RECEIVER_NAME 	= #{receiverName} ,
			RECEIVER_PHONE	= #{receiverPhone},
			DEMAILADDR 				= #{divyAddr} ,
			DLVY_REQUEST				=	#{divyRequest},
			DLVY_DATE=#{divyDate}
			purchase_count=#{purchaseCount}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 	 <!-- SQL : UPDATE -->
	 <update	id="updateTranCode"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		tran_status_code 	= #{tranCode} 
	   	</set>
	   	WHERE PROD_NO = #{purchaseProd.prodNo}
	 </update>
	 
	 
	 <!-- SQL : SELECT LIST -->
	<select  id="getPurchaseList"  parameterType="map"	resultMap="purchaseSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT *
											FROM transaction
											<if test="buyerId!='admin'">
											<where>
											buyer_id=#{buyerId}
											</where>
											</if>
											ORDER BY tran_no ) inner_table
											
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
		
		
	 </select>
	 
	 	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM (	SELECT *
	  					FROM		(	SELECT *
											FROM transaction
											<if test="buyerId!='admin'">
											<where>
											buyer_id=#{buyerId}
											</where>
											</if>
											ORDER BY tran_no ) countTable	)					
											
	 </select>
	 
</mapper>